body{
    text-align:center;
}
.apps{
    display:inline-block;
    
}
.games{
    display:inline-block;
    
}
img{
    transition:transform .2s
}
img:hover{
    transform: scale(0.9)
}
p{}